body {
    color: #fff;
}

#game {
    display: flex;
    width: 45%;
    text-align: left;
}

#score {
    justify-content: space-between;
}

#timer {
    font-style: italic;
    text-decoration: underline;
    align-items: stretch;
    color: lightsalmon;
    display: flex;
    justify-content: space-between;
    text-align: right;
    
}

#game, #question h1 {
    font-size: 50px;
    padding: 15px 20px;
}

.answer-container {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
    background: coral;
}

.answer-container:hover {
    cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(255, 255 ,255, 0.6);
    transform: scale(1.02);
}

.answer-choice {
    padding: 15px 25px;
    color: white;
}

.answer-text {
    padding: 15px;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%)
}
.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgba(224, 11, 11, 1) 100%);
}

@media screen and (max-width: 768px) {
    .answer-container {
        min-width: 40%;
    }
}
    
